<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>category List</title>
</head>
<body>
<div align="center"><h1>Category List</h1>

</div>

<div align="center">
    <table>
       <tr>
           <thead colspan="2">
           <th>ID</th>
           <br> <br>

           <th>Name</th>
           </thead>
       </tr>

        <tbody>
        <th:block th:each="category:${listCategories}">
            <td>[[${category.id}]]</td>
            <td>[[${category.name}]]</td>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>