<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<body>
<div align="center"><h1>products List</h1>

</div>

<div align="center">
    <table>
       <tr>
           <thead rowspan="20">
           <th spa>ID</th>
           <th>Name</th>
           <th>price</th>
           <th>Category</th>
           </thead>
       </tr>

        <tbody>
        <th:block th:each="product:${listProducts}">
            <td>[[${product.id}]]</td>
            <td>[[${product.name}]]</td>
            <td>[[${product.price}]]</td>
            <td>[[${product.category.name}]]</td>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>